/* Webpage Font */
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Webpage Color */
body {
    background-color: #d9dcd6;
}

/* CSS for Header */
header {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: lightslategray;
    color: darkblue;
}

nav {
    margin-left: 20px;
    line-height: 100px;
    font-size: 24px;
}

.spacing {
    padding-left: 20px;
}

/* CSS for Main and Child Elements */
main {
    margin-top: 100px;
    display: inline-block;
    height: 600px;
    width: 100%;
    border: 1px solid red;
}

aside {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 80px;
}

#image {
    padding: 7px;
    border: 21px double darkblue;
}

section {
    float: right;
    width: 50%;
}

/* CSS for Footer */
footer {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    background-color: lightslategray;
    color: darkblue;
}
