/* Webpage Font */
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Webpage Color */
body {
    background-color: #F2E4D8;
}

/* CSS for Header */
header {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: #091B40;
    color: white;
}

nav {
    margin-left: 20px;
    line-height: 100px;
    font-size: 24px;
}

.spacing {
    padding-left: 20px;
}

/* CSS for Main */
main {
    margin-top: 100px;
    display: inline-block;
    height: 600px;
    width: 100%;
}

/* CSS Aside */
aside {
    float: left;
    width: 45%;
    text-align: center;
    padding-top: 80px;
}

#image {
    padding: 7px;
    border: 21px double darkblue;
}

/* CSS Section */
section {
    float: right;
    width: 55%;
    text-align: center;
    padding-top: 60px;
    color: #0468BF;
}

h1 {
    font-size: 40px;
    padding-bottom: 20px;
    color: darkblue;
}

.text {
    line-height: 24px;
    font-size: 20px;
}

#padding {
    padding-bottom: 20px;
}

#newsletter {
    font-size: 28px;
    color: darkblue;
}

form {
    display: inline-block;
}

.input {
    display: block;
    margin-bottom: 10px;
}

#button {
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

/* CSS for Footer */
footer {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 16px;
    font-size: 20px;
    background-color: #091B40;
    color: white;
}
